@import "./colors.scss";

* {
  background-color: $base-background-color;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  color: $base-font-color;
}

h1 {
  font-size: 1.9rem;
  line-height: 2.4rem;
}

h2 {
  font-size: 1.4rem;
  line-height: 1.9rem;
}

p,
a,
Link {
  font-size: 0.9rem;
  line-height: 1.4rem;
}

.image {
  &_profile {
    max-height: 20rem;
    max-width: 20rem;
  }
}

@media screen and (max-width: 353px) {
  .image {
    &_profile {
      max-height: 100%;
      max-width: 100%;
    }
  }
}
