@import "./colors.scss";

$base-transition: 200ms;
$base-transition-and-effect: 100ms ease-in;
$secondary-transition-and-effect: 200ms ease-in-out;

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100vw;
  margin: 1rem 0;
}

.menu-bar {
  height: 0.5rem;
  width: 2rem;
  background-color: $base-font-color;
  transition: $base-transition;
  margin-top: 0.35rem;
  margin-right: 1rem;
}

.menu-bar-tilt {
  height: 0.5rem;
  width: 2rem;
  background-color: $base-font-color;
  transition: $base-transition;
  margin-top: 0.35rem;
  margin-right: 1rem;
  transform: rotate(-45deg);
}

.header {
  text-align: center;
}

.anchor {
  text-decoration: none;
  color: $base-font-color;
  background: linear-gradient($base-font-color 0 0) 0% calc(-1px - 100%) /
    var(--d, 0%) 200% no-repeat;
  transition: $base-transition,
    background-size $base-transition $base-transition;
}

.anchor:hover {
  --d: 100%;
  background-position: 50% 0%;
  color: $base-background-color;
  transition: $base-transition,
    background-position $base-transition $base-transition,
    color $base-transition $base-transition;
}

.link {
  text-decoration: none;
  color: $base-font-color;
  text-align: center;
  width: 5.5rem;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid $base-font-color;
  transition: all $base-transition-and-effect;

  &_navbar {
    text-decoration: none;
    color: $base-font-color;
    position: relative;
    margin: 0 0.5rem;
  }

  &_navbar:last-child {
    margin-right: 1rem;
  }

  &_navbar:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $base-font-color;
    visibility: hidden;
    transform: scaleX(0);
    transition: $secondary-transition-and-effect;
  }

  &_navbar:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }

  &_navbar-header {
    text-decoration: none;
    font-family: "Pacifico";
    font-size: 2rem;
    color: $base-font-color;
    text-align: center;
    margin-left: 1rem;
  }

  &_navigation {
    text-decoration: none;
    font-size: 1.9rem;
    line-height: 2.4rem;
    color: $base-background-color;
    margin: 1rem 0;
    transition: $base-transition;
  }

  &_drop-down {
    text-decoration: none;
    font-size: 1.9rem;
    line-height: 2.4rem;
    background-color: $base-font-color;
    color: $base-background-color;
    margin: 1rem 0;
    transition: $base-transition;
  }

  &_card {
    text-decoration: none;
    color: $base-font-color;
    text-align: center;
    width: auto;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid $base-font-color;
    transition: all $base-transition-and-effect;
  }

  &_card:first-child {
    margin-right: 0.5rem;
  }

  &_card:hover {
    background-color: $base-font-color;
    color: $base-background-color;
  }

  &_contact {
    text-decoration: none;
    color: $base-font-color;
    text-align: center;
    width: 5.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    border: 1px solid $base-font-color;
    transition: all $base-transition-and-effect;
  }

  &_contact:hover {
    background-color: $base-font-color;
    color: $base-background-color;
  }

  &_footer {
    text-decoration: none;
    background: $base-font-color;
    color: $base-background-color;
    position: relative;
    margin: 0.5rem;
  }

  &_footer:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $base-background-color;
    visibility: hidden;
    transform: scaleX(0);
    transition: $secondary-transition-and-effect;
  }

  &_footer:hover:before {
    visibility: visible;
    transform: scaleX(1);
  }
}

.link:hover {
  background-color: $base-font-color;
  color: $base-background-color;
}

.list {
  &_skills {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }

  &_card {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
  }
}

.list-item {
  &_skill {
    margin: 0 0.25rem;
    text-align: center;
  }
}

.card {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid $base-font-color;
  width: 100%;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.card:last-child {
  margin-bottom: 1rem;
}

@media screen and (max-width: 575px) {
  .list_skills {
    flex-flow: column wrap;
  }
}
