@import "./colors.scss";
@import "./components.scss";

$base-container-width: 60rem;

.layout {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  height: auto;
  width: 100vw;

  &_landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 100vh;
    width: 100vw;
  }
}

.container {
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  height: auto;
  max-width: $base-container-width;
  margin: 1rem auto;
  padding: 1rem;

  &_landing-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: auto;
    max-width: $base-container-width;
    margin: 1rem auto;
    padding: 1rem;

    &--links {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: row wrap;
      height: auto;
      max-width: $base-container-width;
      padding: 0 1rem;
    }
  }

  &_navbar-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
  }

  &_navbar {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 50%;

    &--links {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 50%;
    }
  }

  &_menu-icon {
    display: none;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.5rem;
  }

  &_dropdown-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    height: 50vh;
    width: auto;
    margin-bottom: 1rem;
    background-color: $base-font-color;

    &--hidden {
      display: none;
    }
  }

  &_paragraph {
    display: flex;
    flex-flow: column wrap;
  }

  &_skills {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    margin: 0.5rem 0;
  }

  &_card-links {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row wrap;
  }
}

@media screen and (max-width: 500px) {
  .container_navbar--links {
    display: none;
  }

  .container_menu-icon {
    display: flex;
  }
}

@media screen and (max-width: 380px) {
  .container_landing-page--links {
    flex-flow: column wrap;
  }
}
